<%= link_to 'Add Reward', '/rewards/new', class:"submit", id:"blue" %>

<% @rewards.each do |r| %>
  <ul class="list">
    <br /><li><%= link_to r.name, "/rewards/#{r.id}/edit", class:"link" %></li>
  </ul>
<% end %>
