<!-- Admin User View -->
<% if current_user.admin == 1 %>
  <!-- User#Create & User#Edit -->
<% else %>
  <h1 class="home-title">Welcome to the Organization</h1>

  <p class="welcome-text">This is Shape, your employee integration application!</p>

  <p class="welcome-text">
    The app will provide you with integration activities so that  gain a deeper
    understanding of your workplace's culture and its employees.
  </p>

  <p class="welcome-text">
    In order to being learning about the common set of values, norms and behaviours
    of your workplace, click the "Get Started" button below.
  </p>

  <div class="link-wrap">
    <%= link_to "Get Started", user_url(current_user), class:"submit", id:"blue" %>
  </div>
<% end %>
