<h1 class="home-title">Welcome</h1>

<div class="third">
  <p class="home-header">Activities Completed</p>
</div>

<div class="third">
  <p class="home-header">Gift Card $$$ Awarded</p>
  <b><%= @reward.name %>:</b> <%= @reward.award %>
</div>

<div class="third">
  <p class="home-header">Activities to be Completed</p>
</div>
