<h3 class="home-header">Edit Assigned Activity?</h3>

<!-- Edit Tracker questions based on Activity tasks -->
<%= render 'activity-details' %><br />

<%= render 'tracker_form' %><br />

<%= button_to 'DELETE', @tracker, method: :delete, data: {confirm: "Are you sure?"}, class:"delete", id:"red" %>
