<%= link_to "Add New Activity for #{current_user.new_hire_email}", '/trackers/new', class:"submit", id:"blue" %>

<% @trackers.each do |a| %>
  <ul class="list">
    <br /><li><%= link_to a.name, "/trackers/#{a.id}/edit", class:"link" %></li>
  </ul>
<% end %>
