@import "bootstrap";

 body {
   text-align: center;
 }

 .link {
   text-decoration: none;
 }

 .link:hover {
   color: darkblue;
 }

 .link-wrap {
 }

.notice {
  color: blue;
  text-align: center;
}

.alert {
  color: red;
}

.home-title {
}

.home-header {
}

.third {
  float: left;
  width: 33%;
}

.error-list,
.list {
  list-style: none;
  padding: 0;
}

.form-container {
}

.field {
  margin-top: 15px;
}

.welcome-text {
  text-align: justify;
  margin-left: 15px;
  margin-right: 15px;
}
