@import "bootstrap-sprockets";
@import "bootstrap";

 body {
   text-align: center;
 }

 a:hover,
 a:active {
   text-decoration: none;
 }

 .navbar {
  border: none;
 }

.submit,
.delete {
  border: none;
  color: white;
  padding: 15px 28px;
  margin: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 18px;
}

#submit-link {
  border-color: #00796b;
  border-width: thin;
  padding: 10px;
  margin-top: 15px;
}

.btn-default,
.btn-default:hover {
  border-color: white;
  background-color: white;
}

 #blue {
   background-color: #337ab7;
   color: white;
   border-width: 2px;
 }

 #green {
   background-color: #00796b;
   color: white;
   border-color: white;
   border-style: solid;
   border-width: 2px;
 }

 #red {
   background-color: #e53935;
   color: white;
 }

 #blue:hover {
   background-color: #0d47a1;
 }

#green:hover {
  background-color: #004d40;
}

#red:hover {
  background-color: red;
}

.green-text {
  color: #00796b;
}

.link,
#link {
  color: #00796b !important;
  text-decoration: none;
 }

.link:hover,
#link:hover {
  color: #004d40 !important;
 }

.nav-link,
.active {
  list-style: none;
  display: inline;
  margin: 30px;
  line-height: 50px;
 }

 #submit-nav-link {
   border: none;
   background-color: white;
   padding: 5px;
   margin-left: 10px;
 }

.active a {
  border-bottom: 2px solid;
  border-color: #00796b;
}

.notice {
  color: #337ab7;
  font-weight: bold;
}

.alert {
  color: #337ab7;
  font-weight: bold;
}

.error-header,
.error-msg {
  color: red;
}

.home-header {
  font-weight: bold;
  margin-bottom: 30px;
}

.half {
  float: left;
  width: 50%;
  margin-top: 20px;
}

.error-list,
.list {
  list-style: none;
  padding: 0;
}

.field {
  margin-top: 15px;
}

#paragraph {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 30px;
}

.progress-wrap {
  text-align: left;
  margin-left: 60px;
  margin-right: 60px;
  float: left;
}

.progress-title {
  margin-bottom: 30px
}

.progress-text {
  margin: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}

.details {
  margin-left: 15px;
  margin-right: 15px;
}

.status {
  display: inline;
  font-weight: bold;
}

.welcome-text {
  text-align: justify;
  margin-left: 15px;
  margin-right: 15px;
}

.activity-items {
  list-style: none;
}

.circle {
  margin: auto;
  margin-top: 10px;
	width: 200px;
	height: 200px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

.circle-text {
  padding-top: 35%;
  margin-left: 15px;
  margin-right: 15px;
}

// .square {
//   margin: auto;
// 	width: 150px;
// 	height: 75px;
// 	background: #737CA1;
// }
//
// .square-text {
//   padding-top: 17%;
//   font-size: 18px;
// }
